@media screen and (max-width:1200px){

    #invitame {
        margin-right: 40px;
        width: 15%;
    }
    

    
    #squaretext{
        width: 200px;
        margin-top: 15px;
    }

    #todo_texto {
        width: 80%;
        background-color: white;
        border-radius: 10px;
    }

    #squaretext_{
        width: 300px;
        margin-left: 30px;
        font-size: 15px;
        float: left;
        margin-left: 80px;
    }

}